.top-div{
		background-color: #f9f9f9;
		padding:5px 0px 5px 10px;
		border-radius: 7px;
		box-sizing: border-box;
		display: block;
	}
	.showMrfList{
		background-color: #f9f9f9;
		border-radius: 10px;
		box-sizing: border-box;
		box-shadow: 0 10px 20px rgba(0,0,0,0.10), 0 6px 6px rgba(0,0,0,0.15);
		z-index: 999;
	}
	.top-div .mrfControl{
		text-align: left;
		width:30%;
		display: inline-block;
	}
	.top-div .mrfControl .all{
		display: inline;
		float: left;
		width: 10%;
	}

	@media (max-width: 300px) {
		.top-div .mrfControl{
		text-align: left;
		width:40%;
		display: inline-block;
	}
	.top-div .mrfControl .all{
		display: inline;
		float: left;
		width: 25%;
	}
	}